<%- include('../../partials/header') %>
  <%- include('../../partials/navbar') %>


    <div class="container">
      <hr>
      <h2>Categorias</h2>
      <a class="btn btn-dark" href="/admin/articles/new">Criar nova artigo</a>
      <hr>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Categoria</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% articles.forEach(article=> { %>
            <tr>
              <td>
                <%=article.id%>
              </td>
              <td>
                <%=article.title%>
              </td>
              <td>
                <%=article.slug%>
              </td>
              <td>
                <%=article.category.title%>
              </td>
              <td>
                <form method="POST" action="/articles/delete" style="display: inline;"
                  onsubmit="confirmDeletion(event, this)">
                  <input type="hidden" name="id" value="<%= article.id %>">
                  <button class="btn btn-danger">Deletar</button>
              </td>
              </form>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>

    <%- include('../../partials/footer') %>

      <script>
        function confirmDeletion(event, form) {
          event.preventDefault();
          let decision = confirm("Você quer deletar está artigo?")
          if (decision) {
            form.submit();
          }
        }
      </script>