<%- include('../../partials/header') %>
  <%- include('../../partials/navbar') %>

    <div class="container">
      <hr>
      <div class="card">
        <div class="card-header">
          <h2>Novo artigo</h2>
        </div>
        <div class="card-body">
          <form method="POST" action="/articles/save">
            <input class="form-control" type="text" name="title" placeholder="Defina o título da artigo"><br>
            <textarea class="form-control" type="text" name="body" placeholder="Escreva o artigo aqui!"
              id="article"></textarea><br>
            <label>Categoria</label>
            <select name="category" class="form-control">
              <% categories.forEach((category)=> { %>
                <option value="<%=category.id%>">
                  <%=category.title%>
                </option>
                <%})%>
            </select><br>
            <button class="btn btn-success">Cadastrar</button>
          </form>
        </div>
      </div>
    </div> 

    <%- include('../../partials/footer') %>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
      <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5.8.2-114/langs/pt_BR.js"></script>
      <script src="../../../public/tinymce/js/tinymce/tinymce.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>

      <script>
        tinymce.init({
          selector: "#article",
          plugins: [
            'advlist',
            'autolink',
            'link',
            'image',
            'lists',
            'preview',
            'searchreplace',
            'wordcount',
            'fullscreen',
            'insertdatetime',
            'media',
            'save',
            'table',
            'emoticons',
          ]
        })
      </script>