<%- include('../../partials/header') %>
  <%- include('../../partials/homeNavBar') %>

    <body>
      <div class="container">
        <hr>
        <% result.articles.rows.forEach(article=> { %>
          <div class="card">
            <div class="card-header">
              <h2>
                <%=article.title %>
              </h2>
            </div>
            <div class="card-body">
              <a href="/<%= article.slug%>" class="btn btn-dark">Ler artigo</a>
            </div>
          </div> <br>
          <% }) %>
            <div class="row">
              <div class="col col-12">
                <% if(result.next) { %>
                  <a href="/articles/page/<%= parseInt(result.page) + 1%>" style="float: right;">
                    <button class="btn btn-danger">Próximo</button>
                  </a>
                  <% } %>

                    <% if (result.page> 1) { %>
                      <a href="/articles/page/<%= parseInt(result.page) - 1%>" style="float: left;">
                        <button class="btn btn-danger">Anterior</button>
                      </a>
                      <% } %>

                        <% if (result.page <=1) { %>
                          <a href="/" style="float: left;">
                            <button class="btn btn-danger">Página inicial</button>
                          </a>
                          <% } %>
              </div>
            </div>
            <hr>
      </div>
    </body>

    <%- include('../../partials/footer') %>