<%- include('partials/header') %>
  <%- include('partials/homeNavBar') %>

    <body>
      <div class="container">
        <hr>
        <div class="card">
          <div class="card-header">
            <h2>
              <%=article.title %>
            </h2>
          </div>
          <div class="card-body">
          <%= article.body %>
          </div>
    </body>

    <%- include('partials/footer') %>