<%- include('../../partials/header') %>
  <%- include('../../partials/navbar') %>


    <div class="container">
      <hr>
      <h2>Categorias</h2>
      <a class="btn btn-dark" href="/admin/categories/new">Criar nova categoria</a>
      <hr>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach(category=> { %>
            <tr>
              <th>
                <%=category.id%>
              </th>
              <th>
                <%=category.title%>
              </th>
              <th>
                <%=category.slug%>
              </th>
              <th>
                <buttom class="btn btn-warning">Editar</buttom>
                <buttom class="btn btn-danger">Deletar</buttom>
              </th>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>

    <%- include('../../partials/footer') %>