<%- include('partials/header') %>
  <%- include('partials/homeNavBar') %>

    <body>
      <div class="container">
        <hr>
        <div class="jumbotron">
          <h1 class="display-4">Bem-vindo</h1>
          <p class="lead">Este é um simples blog do guia do programador.</p>
          <hr class="my-4">
          <p>Descrição detalhada aqui!</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
        </div>
        <hr>
        <% articles.forEach(article=> { %>
          <div class="card">
            <div class="card-header">
              <h2>
                <%=article.title %>
              </h2>
            </div>
            <div class="card-body">
              <a href="/<%= article.slug%>" class="btn btn-dark">Ler artigo</a>
            </div>
          </div> <br>
          <% }) %>

            <div class="row">
              <div class=" col col-12">
                <a style="float: right;" href="/articles/page/2">Next >></a>
              </div>
              <hr>
            </div>
            <hr>
      </div>

    </body>

    <%- include('partials/footer') %>