<%- include('../../partials/header') %>
  <%- include('../../partials/navbar') %>

    <div class="container">
      <hr>
      <div class="card mt-5">
        <div class="card-header">Atualizando de usuário</div>
        <div class="card-body">
          <form method="post" action="/users/update">
            <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"
              value="<%= users.email%>"> <br>
            <input class="form-control" name="password" type="password" placeholder="******"
              value="<%=users.password%>"> <br>
              <input type="hidden" name="id" value="<%= users.id%>">
            <button type="submit" class="btn btn-dark btn-block">Atualizar</button>
          </form>
        </div>
      </div>
    </div>

    <%- include('../../partials/footer') %>